# Folder игнорирует файл или каталог в любом месте дерева.
# /Folder игнорирует файл или каталог в корне дерева.
# Folder/ игнорирует каталог в любом месте дерева.

node_modules/
template

# Директория с собранными файлами проекта
build/

mock.json
.idea/
*.log
*.lock
.DS_Store
Thumbs.db
*~

.env
