extends layout.pug

block content
  main(class='main-page main-page--padding')
    section(class='main-page__publication publication')
      h1(class='publication__title') Комментарии
      ul(class='publication__list')
        li(class='publication__list-item')
          div(class='publication__header')
            img(class='publication__list-image', src='img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
            b(class='publication__list-name') Александр Петров
            time(class='publication__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='publication__item-text', href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p(class='publication__text-strong') «Яндекс.Метрика» запустила бесплатный сервис для оценки эффективности баннеров и видеорекламы в реальном времени
          button(class='publication__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='publication__list-item')
          div(class='publication__header')
            img(class='publication__list-image', src='img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
            b(class='publication__list-name') Александр Петров
            time(class='publication__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='publication__item-text', href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p(class='publication__text-strong') Игровая студия Playrix из Вологды потратила более $100 млн на покупку конкурентов в 2018 году
          button(class='publication__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='publication__list-item')
          div(class='publication__header')
            img(class='publication__list-image', src='img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
            b(class='publication__list-name') Александр Петров
            time(class='publication__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='publication__item-text', href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p(class='publication__text-strong') «Яндекс.Метрика» запустила бесплатный сервис для оценки эффективности баннеров и видеорекламы в реальном времени
          button(class='publication__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='publication__list-item')
          div(class='publication__header')
            img(class='publication__list-image', src='img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
            b(class='publication__list-name') Александр Петров
            time(class='publication__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='publication__item-text', href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p(class='publication__text-strong') Игровая студия Playrix из Вологды потратила более $100 млн на покупку конкурентов в 2018 году
          button(class='publication__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='publication__list-item')
          div(class='publication__header')
            img(class='publication__list-image', src='img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
            b(class='publication__list-name') Александр Петров
            time(class='publication__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='publication__item-text', href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p(class='publication__text-strong') Игровая студия Playrix из Вологды потратила более $100 млн на покупку конкурентов в 2018 году
          button(class='publication__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='publication__list-item')
          div(class='publication__header')
            img(class='publication__list-image', src='img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
            b(class='publication__list-name') Александр Петров
            time(class='publication__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='publication__item-text', href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p(class='publication__text-strong') «Яндекс.Метрика» запустила бесплатный сервис для оценки эффективности баннеров и видеорекламы в реальном времени
          button(class='publication__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='publication__list-item publication__list-item--last')
          div(class='publication__header')
            img(class='publication__list-image', src='img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
            b(class='publication__list-name') Александр Петров
            time(class='publication__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='publication__item-text', href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p(class='publication__text-strong') Игровая студия Playrix из Вологды потратила более $100 млн на покупку конкурентов в 2018 году
          button(class='publication__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
