extends layout.pug

block content
  main(class='main-page main-page--padding')
    section(class='main-page__notes notes')
      h1(class='notes__title') Мои записи
      ul(class='notes__list')
        li(class='notes__list-item')
          time(class='notes__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='notes__item-text', href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
          button(class='notes__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='notes__list-item')
          time(class='notes__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='notes__item-text', href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
          button(class='notes__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='notes__list-item')
          time(class='notes__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='notes__item-text', href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
          button(class='notes__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='notes__list-item')
          time(class='notes__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='notes__item-text', href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
          button(class='notes__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
        li(class='notes__list-item notes__list-item--last')
          time(class='notes__item-time', datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a(class='notes__item-text', href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
          button(class='notes__button button button--close-item', type='button')
            span(class='visually-hidden') Закрыть строку списка
