extends layout.pug

block content
  main
    section(class='search-page')
      div(class='search-page__wrapper')
        h1 Поиск
        div(class='search search-page__form')
          form(action='#', method='get')
            label
              input(type='text', name='search', placeholder='Что ищем?')
            button(class='search__button button button--transparent', type='submit') Найти
